.hero {
    padding: 15px;

    &__img {

        width: 100%;
    }

    &__img-position {
        display: none;
    }

    &__top {
        max-width: 700px;
        margin: 50px auto;


    }

    &__top-text {
        color: rgb(41, 41, 157);
        margin-top: 15px;
    }

    &__bottom {
        max-width: 700px;
        padding: 30px;
        background-color: #FBE0E0;
        margin: 0 auto;

    }

    &__top-title {
        margin-bottom: 25px;

        font-size: 36px;
    }

    &__bottom p {
        margin: 15px 0px;
        font-size: 14px;
    }

}
